@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Roboto:wght@100;300;500&family=Satisfy&display=swap');
;
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Satisfy', 'Roboto', sans-serif;
}
body {
    color: #283655;
    background-color: #91bebe;
    font-family: 'Montserrat', sans-serif;
}
h2, h3 {
    font-family: 'Roboto', sans-serif;
    text-shadow: -1px -1px 1px #283655;
}
h2 {
    padding: 20px 0 50px 0;
    font-size: 2em;
}
li {
    list-style-type: none;
}
header {
    text-align: center;
    height: 80vh;
    background: linear-gradient(rgba(209, 201, 201, 0.757), #91bebe), url(images/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}
h1 {
    padding: 90px 0 10px 0;
    font-family: 'Satisfy', sans-serif;
    font-size: 3em;
}
#line {
    height: 2px;
    background-color: #283655;
    width: 25%;
    margin: 0 auto;
}
/* ---------------------- barre navigation --------------------- */
.navbar {
    position: absolute;
    background-color: #283655;
    opacity: 1;
    height: 40px;
    transition: 0.7s;
}
.navbar-nav {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar-nav a {
    color: aliceblue;
}
.navbar-nav a:hover {
    color: #91bebe;
}
@media screen and (max-width: 580px){
    .navbar {
        display: none !important;
    }
    .fixed-top {
        position: unset !important;
    }
}
/* ---------------------------- Header ---------------------------- */
.infos {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(1, 0fr);
    grid-template-rows: 2fr repeat(0, 1fr);
    height: 240px;
    margin-top: 20px;
}
.divInfos {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #283655;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    background-color: rgba(250, 235, 215, 0.5);
    width: 45%;
    margin-left: 10rem;
    box-shadow: 2px 2px 5px 0px;
}
.divInfos img {
    margin: auto;
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
.aPropos {
    grid-area: 1 / 2 / 3 / 4;
    border: 1px solid #283655;
    background-color: rgba(250, 235, 215, 0.5);
    margin-right: 10rem;
    box-shadow: 2px 2px 5px 0px;
}
.aPropos h1, p {
    padding: 15px;
}
.btn {
    margin-top: 10px;
    text-decoration: none;
}
.btn a {
    color: #283655;
    padding: 10px 20px;
    border: 1px solid #283655;
    text-decoration: none;
}
.btn:hover a {
    background: #283655;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
    .divInfos {
        width: 55%;
        margin-left: 5rem;
    }
    .aPropos {
        margin-left: 1rem;
    }
    .aPropos h1, p {
        padding: 10px;
    }
    .btn {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 790px) {
    .infos{
        display: flex;
        flex-direction: column;
    }
    .divInfos {
        overflow: hidden;
        width: 0;
        height: 0;
        border: none;
    }
    .aPropos {
        margin-left: 3rem;
        width: 85%;
        font-size: 0.8rem;
    }
    .aPropos h1, p {
        padding: 5px;
    }
}
@media screen and (max-width: 400px){
    .aPropos {
        margin-left: 2rem;
    }
}
/* ------------------------- Main container --------------------------- */
.renseignements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr repeat(0, 1fr);
    grid-column-gap: 20px;
    margin: 50px;
    width: 95%;
    align-items: center;
    background: linear-gradient(rgba(209, 201, 201, 0.757), #ebbcafc1);
}
.formations {
    grid-area: 1 / 1 / 2 / 2;
    border: 2px solid #283655;
    background: linear-gradient(rgba(209, 201, 201, 0.757), #b091be);
    box-shadow: 2px 2px 5px 0px;
    padding: 15px;
    margin: 35px;
}
.competences {
    grid-area: 1 / 2 / 2 / 3;
    border: 2px solid #283655;
    background: linear-gradient(rgba(209, 201, 201, 0.757), #557cc4);
    box-shadow: 2px 2px 5px 0px;
    padding: 15px;
    margin: 35px;
}
.experiences {
    grid-area: 1 / 3 / 2 / 4;
    border: 2px solid #283655;
    background: linear-gradient(rgba(209, 201, 201, 0.757), #529742);
    box-shadow: 2px 2px 5px 0px;
    padding: 15px;
    margin: 35px;
}
@media screen and (max-width: 1080px){
    .renseignements {
        margin: 10px;
        padding: 10px;
        width: 85%;
        align-items: center;
    }
    .formations, .competences, .experiences {
        font-size: 0.8rem;
        width: 95%;
        margin: 0px;
        padding: 5px;
    }
}
@media screen and (max-width: 810px){
    .renseignements {
        margin: 50px;
        width: 85%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .formations, .competences, .experiences {
        font-size: 1rem;
        width: 95%;
        margin: 5px;
    }
}
@media screen and (max-width: 400px){
    .renseignements {
        margin-left: 2rem;
    }
}
/* ---------------------------- box -------------------------------------- */
.container {
    padding: 0;
    width: 40%;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #e2dedb;
    margin-bottom: 15rem;
}
.container-onglets {
    background: #e2dedb;
    width: 100%;
    height: 30%;
    display: flex;
    border: 1px solid #283655;
}
.onglets {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.onglets:not(:nth-child(3)) {
    border-right: 1px solid #283655;
}
.contenu {
    height: 30%;
    width: 40%;
    position: absolute;
    opacity: 0;
    border: 1px solid #283655;
    margin-bottom: 45px;
    background: #e2dedb;
}
.contenu h3, p {
    padding: 20px;
}
.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
}
.active {
    background: #283655;
    color: aliceblue;
    transition: all .03s ease;
}
.activeContenu {
    animation: fade 0.5s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.icons {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 25%;
}
.network {
    font-size: 2em;
    border: 1px solid #283655;
    padding: 2px 8px;
    color: #283655;
    border-radius: 50%;
}
.network:hover {
    background: #283655;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 970px) {
    .container, .contenu  {
        width: 70%;
    }
    .onglets {
        font-size: 15px;
    }
    .icons {
        max-width: 35%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 90%;
    }
    .contenu {
        width: 90%;
        height: 35%;
    }
    .icons {
        max-width: 45%;
    }
}
/* ---------------------------- hobbies --------------------------------- */
#hobbies {
    padding: 20px;
    margin: 40px;
    clip-path: polygon(0 21%, 100% 31%, 100% 95%, 0% 100%);
    background: linear-gradient(rgba(209, 201, 201, 0.757), #cde061b0);
}
.pictures {
    display: flex;
    justify-content: center;
}
.flip-box{
    margin: 10px;
}
.flip-box-back .livre, .ordi, .dessin{
    text-align: center;
    height: 77%;
    margin: 0 auto;
    background-color: #283655;
}
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
@media screen and (max-width: 930px){
    .flip-box-back h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 690px){
    #hobbies {
        clip-path: polygon(0 8%, 100% 11%, 100% 95%, 0% 100%);
    }
    .pictures {
        display: flex;
        flex-direction: column;
    }
}
/* ------------------------------ footer ------------------------------------ */
footer {
    margin-top: 2rem;
    text-align: center;
    background-color: #283655;
    color: aliceblue;
}
footer p {
    margin: 0;
    padding: 0;
}
.arrow a {
    font-size: 3em;
    color: aliceblue;
}
.arrow i:hover {
    transform: scale(1.4);
    transition: 0.3s ease-in-out;
}